<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/bootstrap.php"
	colors="true"
	cacheResultFile=".phpunit.result.cache"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	stopOnFailure="false">
	<testsuites>
		<testsuite name="WooExports">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
